@font-face {
    font-family: 'build';
    src: url('../fonts/tf2build.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'professor';
    src: url('../fonts/tf2professor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
aside{
    float: right;
}
div{
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
}
html { 
    background: url("../images/background.png") no-repeat center center fixed; 
    background-size: cover;
  }

h1{
    padding: 50px;
    font-size: 80px;
}
h2{
    font-family: 'build';
    padding: 10px;
    font-size: 60px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    text-align: left;
    font-size: 30px;

    float: middle;
}
ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
}
.gallery{
    width: 640px;
    height: 360px;
}
.thumbnail{
    float: right;
}
.tf2build{
    font-family: 'build';
}
.tf2prof{
    font-family: 'professor';
}
.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.weaponvid{
    height: 480px;
    width: 720px;
    float: left;
}
#trait{
    padding-top: 50px;
    text-align: left;
}
#description{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 25px;
    text-align: center;
}
iframe{
    display: block;
    margin: 0 auto;
    height: 768px;
    width: 1366px;
    border: none;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;  
}