@font-face {
    font-family: 'build';
    src: url('../fonts/tf2build.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html { 
    background: url("../images/background.png") no-repeat center center fixed; 
    background-size: cover;
  }

h1{
    font-family: 'build';
    padding: 50px;
    font-size: 80px;
}
h2{
    font-family: 'build';
    padding: 10px;
    font-size: 60px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 200px;
}
ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
#trait{
    padding-top: 50px;
    text-align: left;
}
#description{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 35px;
    text-align: center;
}
iframe{
    height: 576px;
    width: 1024px;
    border: none;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;  
}