@font-face {
    font-family: 'build';
    src: url('../fonts/tf2build.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'build';
    padding: 50px;
    font-size: 80px;
}
p{
    font-family: 'Courier New';
    font-size: 20px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 200px;
}
#trait{
    padding-top: 50px;
    text-align: left;
}
#description{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 35px;
    text-align: center;
}
#whole{
    background-image: url("../images/background.png");
    background-position: center;
}

iframe{
    height: 576px;
    width: 1024px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;  
}