body{
    background-color: #fffbbf;
}
p{
    color: #632c0c;
    font-size: 25px;
}
h1{
    color: #ff0a70;
    font-size: 50px;
}
h2{
    color: #5b19ff;
    font-size: 40px;
}
.red-heading{
    color: red;
}
header p{
    font-weight: bold;
    font-style: italic;
    color: blue;
}
#new-font{
    font-family: fantasy, cursive, serif;
}
