body{
    background-color: #e9b6c0;
}
p{
    color: #632c0c;
    font-size: 25px;
}
p.clear{
    clear: both;
}
.byline{
    font-style: italic;
    font-family: sans-serif;
    font-size: 15px;
}
h1{
    color: #532735;
    font-size: 100px;
}
h2{
    color: #5b19ff;
    font-size: 40px;
}
header{
    background-color: rgb(255, 122, 151);
    padding-left: 5px;
}
header p{
    font-weight: bold;
    font-style: italic;
    color: rgb(124, 18, 18);
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
  
main{
    background-color: rgb(255, 122, 151); 
}
footer{
    background-color: white;
    border: black solid thin;
    padding-left: 5px;
    border-radius: 8px;
}
figure.left {
    float: left;
}
figure.border {
    background-color: lightslategray;
    border: black solid thin;
    padding: 5px;
}
.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}
.red-heading{
    color: red;
}
.btn-padding{
    border-width: 25px;
    border-color: rgb(163, 65, 122);
}

.btn-padding:hover {
    background-color: #ff6b72;
    border-color: white;
}
.elf-div-border {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 250px;
    padding-bottom: 250px;
}
.btn-margin-padding:active {
    color: red;
}
aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}
nav {        
    background-color:rgb(255, 122, 151);
    border: 1px rgb(124, 18, 18);
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}         